@import 'styles/_variaveis.scss';

.imagensBox{
  display: flex;
  flex-direction: column;

  &_listArea {
    overflow-x: hidden;
    
    &_list{
      display: flex;

      transition: all ease 0.5s;

      &_item{
        margin: 25px;

        width: 88vw;
        height: 50vw;

        &_img, p {
          width: 88vw;
        }
      }
    }

  }
}

.navigates{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  margin: 25px;

  width: 88vw;
  height: 49vw;
}

.desativa{
  display: none;
}

.ativa{
  display: block;
}

@media screen and (min-width: 768px) {
  .imagensBox{  
    &_listArea {
      display: flex;
      justify-content: center;
     
      &_list{
        display: flex;
        flex-wrap: wrap;
        
        width: calc(320px * 2);
  
        &_item{
          width: 270px;
    
          &_img, p {
            width: 270px;
          }
        }
      }
  
    }
  }

.navigates{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .imagensBox{    
    &_listArea {
      &_list{
        width: calc(320px * 3);
      }
    }
  }
}