@import 'styles/_variaveis.scss';

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: $laranja-padrao;
  color: $laranja-escuro;

  font-weight: bold;
}