@import 'styles/_variaveis.scss';

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $laranja-padrao;
  color: $laranja-escuro;
  
  height: 80px;

  font-weight: bold;
  font-size: 30px;
}